@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Grand+Hotel|EB+Garamond|Dancing+Script:400,700);
/* line 5, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 1, ../sass/common/_common.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8c931;
  color: #231f20;
  overflow: hidden;
}

/* line 8, ../sass/common/_common.scss */
* a {
  text-decoration: none;
  color: #231f20;
}

/* line 13, ../sass/common/_common.scss */
section {
  float: left !important;
  position: relative;
}

/* line 17, ../sass/common/_common.scss */
nav, #home article, #portfolio article > div, #flickr article > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 25, ../sass/common/_common.scss */
.QOverlay {
  background-color: #000000;
  z-index: 9999;
}

/* line 30, ../sass/common/_common.scss */
.QLoader {
  background-color: #CCCCCC;
  height: 1px;
}

@font-face {
  font-family: 'codecave';
  src: url("../fonts/codecave.eot?44ypy");
  src: url("../fonts/codecave.eot?#iefix44ypy") format("embedded-opentype"), url("../fonts/codecave.woff?44ypy") format("woff"), url("../fonts/codecave.ttf?44ypy") format("truetype"), url("../fonts/codecave.svg?44ypy#codecave") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/common/_icon.scss */
[class^="codecave-"], [class*=" codecave-"] {
  font-family: 'codecave';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/common/_icon.scss */
.codecave-github:before {
  content: "\e604";
}

/* line 30, ../sass/common/_icon.scss */
.codecave-behance:before {
  content: "\e605";
}

/* line 34, ../sass/common/_icon.scss */
.codecave-camera:before {
  content: "\e600";
}

/* line 38, ../sass/common/_icon.scss */
.codecave-briefcase:before {
  content: "\e601";
}

/* line 42, ../sass/common/_icon.scss */
.codecave-home:before {
  content: "\e602";
}

/* line 46, ../sass/common/_icon.scss */
.codecave-envelope:before {
  content: "\e603";
}

/* line 1, ../sass/common/_nav.scss */
nav {
  left: 20px;
  width: 40px;
  height: 163px;
  margin: auto 0;
  z-index: 999999;
  position: fixed;
}
/* line 9, ../sass/common/_nav.scss */
nav li {
  font-size: 30px;
  margin-bottom: 10px;
}
/* line 12, ../sass/common/_nav.scss */
nav li:last-child {
  margin-bottom: 0;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 14, ../sass/page/_index.scss */
#home {
  background: url(../images/monzoor.png) no-repeat right bottom;
  position: relative;
}
/* line 19, ../sass/page/_index.scss */
#home article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  height: 500px;
  text-align: center;
  margin-left: 10%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
#home article:before, #home article:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
#home article:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
#home article:last-child {
  margin-right: 0%;
}
/* line 25, ../sass/page/_index.scss */
#home article h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  line-height: 50px;
}
/* line 28, ../sass/page/_index.scss */
#home article h1 {
  margin-top: 20px;
  font-family: "Grand Hotel", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 50px;
}
/* line 32, ../sass/page/_index.scss */
#home article p {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 17, ../sass/page/_portfolio.scss */
#portfolio article, #flickr article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  height: 100%;
  text-align: center;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
#portfolio article:before, #flickr article:before, #portfolio article:after, #flickr article:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
#portfolio article:after, #flickr article:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
#portfolio article:last-child, #flickr article:last-child {
  margin-right: 0%;
}
/* line 21, ../sass/page/_portfolio.scss */
#portfolio article h1, #flickr article h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  line-height: 48px;
}
/* line 24, ../sass/page/_portfolio.scss */
#portfolio article h2, #flickr article h2 {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
}
/* line 30, ../sass/page/_portfolio.scss */
#portfolio article p, #flickr article p {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 23px;
}
/* line 34, ../sass/page/_portfolio.scss */
#portfolio article > div, #flickr article > div {
  width: 40%;
  height: 500px;
  margin-left: 10%;
}
/* line 39, ../sass/page/_portfolio.scss */
#portfolio article > div .urls, #flickr article > div .urls {
  float: left;
  margin-top: 30px;
  text-align: left;
}
/* line 43, ../sass/page/_portfolio.scss */
#portfolio article > div .urls [class^="codecave-"], #flickr article > div .urls [class^="codecave-"] {
  font-size: 30px;
  margin-right: 20px;
  text-decoration: none;
  margin: 0;
  color: rgba(35, 31, 32, 0.5);
}
/* line 50, ../sass/page/_portfolio.scss */
#portfolio article > div .urls a, #flickr article > div .urls a {
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
}
/* line 54, ../sass/page/_portfolio.scss */
#portfolio article > div .urls a span, #flickr article > div .urls a span {
  text-decoration: underline;
  margin-top: 5px;
  margin-left: 16px;
  display: block;
  float: left;
}
/* line 66, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper, #flickr .slider-wrapper {
  width: 38%;
  float: left;
  height: 100%;
  position: relative;
}
/* line 71, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider, #flickr .slider-wrapper .slider {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.83333%;
  margin-left: 0%;
  margin-right: 3%;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 460px !important;
  position: relative;
  overflow: auto;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider:before, #flickr .slider-wrapper .slider:before, #portfolio .slider-wrapper .slider:after, #flickr .slider-wrapper .slider:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider:after, #flickr .slider-wrapper .slider:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider:last-child, #flickr .slider-wrapper .slider:last-child {
  margin-right: 0%;
}
/* line 76, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .slider--main, #flickr .slider-wrapper .slider .slider--main {
  height: 421px !important;
}
/* line 81, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .slider--main2 li li, #flickr .slider-wrapper .slider .slider--main2 li li {
  height: 125px;
  overflow: hidden;
}
/* line 84, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .slider--main2 li li img, #flickr .slider-wrapper .slider .slider--main2 li li img {
  height: auto !important;
  -ms-transform: translateY(-14%);
  -webkit-transform: translateY(-14%);
  transformY: translateY(-14%);
}
/* line 93, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li, #flickr .slider-wrapper .slider li {
  list-style: none;
  float: left;
}
/* line 96, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li li, #flickr .slider-wrapper .slider li li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-right: 0;
  margin-bottom: 3%;
  position: relative;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider li li:before, #flickr .slider-wrapper .slider li li:before, #portfolio .slider-wrapper .slider li li:after, #flickr .slider-wrapper .slider li li:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider li li:after, #flickr .slider-wrapper .slider li li:after {
  clear: both;
}
/* line 58, ../sass/vendor/jeet/_grid.scss */
#portfolio .slider-wrapper .slider li li:last-child, #flickr .slider-wrapper .slider li li:last-child {
  margin-right: 0%;
}
/* line 101, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li li:nth-child(even), #flickr .slider-wrapper .slider li li:nth-child(even) {
  margin-left: 3%;
}
/* line 104, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li li span, #flickr .slider-wrapper .slider li li span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 201, 49, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 111, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li li span:hover, #flickr .slider-wrapper .slider li li span:hover {
  background-color: rgba(248, 201, 49, 0);
}
/* line 115, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider li li img, #flickr .slider-wrapper .slider li li img {
  width: 100%;
  height: 125px;
}
/* line 121, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .dots, #flickr .slider-wrapper .slider .dots {
  display: table;
  margin: 0px auto;
}
/* line 124, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .dots li, #flickr .slider-wrapper .slider .dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  text-indent: -999em;
  background-color: rgba(35, 31, 32, 0.5);
  border-radius: 100%;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}
/* line 137, ../sass/page/_portfolio.scss */
#portfolio .slider-wrapper .slider .dots li.active, #flickr .slider-wrapper .slider .dots li.active {
  background: #231f20;
  opacity: 1;
}
